<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="Hello World">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html">
    <![CDATA[
      <script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=0.1"></script>
      <script type="text/javascript" src="//raw.github.com/lukaspili/GPlus-hangout-API/master/app.js"></script>
    ]]>
  </Content>
</Module>